<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('用户列表')"/>
</head>
<body>


<div class="container-fluid p-t-15">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">

                <div class="card-header">
                    <h4>用户列表</h4>
                </div>
                <div class="card-body">

                    <div id="toolbar" class="toolbar-btn-action">
                        <button id="btn_add" type="button" class="btn btn-primary m-r-5 btn-sm  multitabs"
                                onclick="addUser()">
                            <span class="mdi mdi-plus js-create-tab" aria-hidden="true"></span>新增
                        </button>
                        <button id="btn_delete" type="button" class="btn btn-danger m-r-5 btn-sm"
                                onclick="delCheckUser()">
                            <span class="mdi mdi-window-close" aria-hidden="true"></span>删除
                        </button>


                    </div>

                    <table id="tb_departments"></table>

                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<!--行内编辑插件-->
<th:block th:include="include :: bootstrap3-editbable"/>
<script type="text/javascript">

    var list_url = '[[@{/sys/user}]]';
    var dataTable = $('#tb_departments').bootstrapTable({
        classes: 'table table-bordered table-hover table-striped',
        url: list_url,                      //  请求后台的URL
        method: "get",                      //  请求方式
        uniqueId: "userId",                     //  每一行的唯一标识，一般为主键列
        cache: false,                       //  设置为 false 禁用 AJAX 数据缓存， 默认为true
        pagination: true,                   //  是否显示分页
        sidePagination: "client",           //  分页方式：client客户端分页，server服务端分页
        pageSize: 10,                       //  每页的记录行数
        showColumns: true,         // 是否显示所有的列
        showRefresh: true,         // 是否显示刷新按钮
        toolbar: '#toolbar',       // 工具按钮容器
        sidePagination: "client",            // 分页方式：client客户端分页，server服务端分页
        pageNumber: 1,                       // 初始化加载第一页，默认第一页
        pageSize: 10,                        // 每页的记录行数
        pageList: [10, 20, 30],         // 可供选择的每页的行数
        search:true,
        queryParamsType: '',
        queryParams: function (param) {
            return {
                pageNum: param.pageNumber,
                pageSize: param.pageSize,
                username: $("#username").val()
            }
        },
        columns: [
            {
                field: 'check',
                checkbox: true
            }, {
                field:'userId',
                title:'工号'
            },{
                field: 'username',
                title: '用户名'
            }, {
                field: 'sex',
                title: '性别',
                formatter: sex
            }, {
                field: 'email',
                title: '邮箱'
            }, {
                field: 'mobile',
                title: '手机号'
            }, {
                field: 'createTime',
                title: '创建时间'
            },{
                field: 'updateTime',
                title: '最后更新时间'
            }, {
                field: 'operate',
                title: '操作',
                formatter: btnGroup,  // 自定义方
                align: 'center',
                events: {
                    'click .edit-btn': function (event, value, row, index) {
                        editUser(row.userId);
                    },
                    'click .del-btn': function (event, value, row, index) {
                        delUser(row.userId);
                    },
                    'click .re-btn': function (event, value, row, index) {
                        reUser(row.userId);
                    }
                }
            },
        ]
    });

    // 修改
    $('#btn-update').click(function () {
        var rows = $('#tb_departments').bootstrapTable('getSelections');
        if (rows.length == 0) {
            layer.msg("请选择数据行!", {icon: 2, time: 1000, offset: 't'})
        } else if (rows.length != 1) {
            layer.msg("一次只能修改一条数据!", {icon: 2, time: 1000, offset: 't'})
        } else {
            window.location.href = 'role_update.html';
        }
    });

    //删除
    function deleteRole() {
        var rows = $('#tb_departments').bootstrapTable('getSelections');
        if (rows.length == 0) {
            layer.msg("请选择数据行!", {icon: 2, time: 1000, offset: 't'})
        } else if (rows.length == 1) {
            layer.confirm("确认删除?", {icon: 3, offset: 't'}, function () {
                //异步删除一条
                alert(rows[0].id);
            })
        } else {
            layer.confirm("确认批量删除?", {icon: 3, offset: 't'}, function () {
                var ids = new Array();
                for (var i = 0; i < rows.length; i++) {
                    ids.push(rows[i].id);
                }
                alert(JSON.stringify(ids));
            })
        }
    };
    // 分配角色
    $('#btn-assign-resource').click(function () {
        var rows = $('#tb_departments').bootstrapTable('getSelections');
        if (rows.length == 0) {
            layer.msg("请选择数据行!", {icon: 2, time: 1000, offset: 't'})
        } else if (rows.length != 1) {
            layer.msg("一次只能修改一条数据!", {icon: 2, time: 1000, offset: 't'})
        } else {
            window.location.href = 'assgin_role.html';
        }
    });

    function sex(value, row, index) {
        if (row.sex == '1') {
            value = '男';
        } else {
            value = '女';
        }
        return value;
    }

    // 操作按钮
    function btnGroup() {
        let html =
            '<a href="#!" class="btn btn-xs btn-success m-r-5 edit-btn" title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>' +
            '<a href="#!" class="btn btn-xs btn-danger m-r-5 del-btn" title="删除" data-toggle="tooltip"><i class="mdi mdi-delete"></i></a>' +
            '<a href="#!" class="btn btn-xs btn-info re-btn" title="重置密码" data-toggle="tooltip"><i class="mdi mdi-reload"></i></a>';
        return html;
    }

    // 操作方法 - 编辑
    function editUser(id) {
        var url = '[[@{/sys/user/update/}]]'+id;
        zeze.open_add('编辑用户',url)
    }

    //添加
    function addUser(id) {
        var url = '[[@{/sys/user/add}]]';
        //window.location.href = url;
        zeze.open_add("添加用户",url);
    }

    // 操作方法 - 删除
    function delUser(id) {
        var url = '[[@{/sys/user/}]]';
        layer.confirm("你确定删除吗?", {icon: 3, offset: '100px'}, function () {
            $.ajax({
                url: url + id,
                type: 'delete',
                success: function (response) {
                    if (response.code == 0) {
                        layer.msg(response.msg, {icon: 1, time: 1000, offset: '100px'});
                        //前台删除
                        $('#tb_departments').bootstrapTable('remove', {
                            field: "userId",   //此处的 “id”对应的是字段名
                            values: [parseInt(id)]
                        });

                    } else {
                        layer.alert(response.msg, {icon: 5, offset: '100px'});
                    }
                }
            })

        })

    }

    //批量删除

    // 操作方法 -重制密码
    function reUser(id) {
        var url = '[[@{/sys/user/recover/}]]';
        layer.confirm("你确定重置密码吗?", {icon: 3, offset: '100px'}, function () {
            $.ajax({
                url: url + id,
                type: 'post',
                success: function (response) {
                    if (response.code == 0) {
                        layer.msg(response.msg, {icon: 1, time: 1000, offset: '100px'});
                    } else {
                        layer.alert(response.msg, {icon: 5, offset: 't'});
                    }
                }
            })

        })
    }
</script>

</body>
</html>
