<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:include="include::header('编辑角色')"/>
    <th:block th:include="include::ztree-css"/>
</head>
<body>
<div class="container-fluid p-t-15">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4>基本信息</h4>
                </div>
                <div class="card-body">
                    <form class="form-horizontal" method="post" onsubmit="return false;" id="data_form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">角色名称：</label>
                            <div class="col-sm-8">
                                <input type="hidden" name="roleId" id ='roleId' th:value="${role.roleId}">
                                <input class="form-control" type="text" name="name" id="name" th:value="${role.name}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">角色描述：</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="remark" id="remark" th:value="${role.remark}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">排序：</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" name="orderNum" id="orderNum" th:value="${role.orderNum}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">菜单权限</label>
                            <div class="col-sm-8">
                                <div id="resourceTree" class="ztree"></div>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit" id="save" style="display:none;">保存</button>

                    </form>
                </div>
            </div>


        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include::ztree-js"/>
<script type="text/javascript">
    var url = '[[@{/sys/role/resource}]]';
    //角色id
    var roleId=$('#roleId').val();
    //构建zTree
    zeze.zTree('resourceTree', url, roleId);
    $('#data_form').submit(function () {
        var roleIds = zeze.getRoleIds("resourceTree");
        //拼接数据
        var data = $.param({"roleIds": roleIds}) + "&" + $('#data_form').serialize() + "";//数据
        $.ajax({
            url: '[[@{/sys/role}]]',
            type: 'put',
            data: data,
            dataType: 'json',
            success: function (response) {
                if (response.code == 0) {
                    //当你在iframe页面关闭自身时
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                    parent.layer.msg(response.msg, {icon: 1, time: 1000})
                    parent.$("#data-table").bootstrapTable('refresh');
                } else {
                    layer.alert(response.msg, {icon: 5,});
                }
            }
        })
    });
</script>
</body>
</html>
