<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wnsf.yjxt.sys.mapper.ResourceMapper">

    <select id="list" resultType="com.wnsf.yjxt.sys.entity.Resource">
        SELECT
            resource_id,
            parent_id
         FROM sys_resource;
    </select>

    <select id="getRoleResource" resultType="com.wnsf.yjxt.sys.entity.Resource" parameterType="java.lang.Integer">
        SELECT
            t1.name,
            t1.resource_id,
            t1.parent_id,
            t2.role_id,
            t1.path
        FROM
            sys_resource t1
        LEFT JOIN sys_role_resource t2 On  t1.resource_id =t2.resource_id
        AND t2.role_id = #{id}
    </select>

    <select id="getResourceList" resultType="com.wnsf.yjxt.sys.entity.Resource" parameterType="java.lang.Integer">
        SELECT
            t1.name,
            t1.resource_id,
            t1.parent_id,
            t2.role_id,
            t1.path
        FROM
            sys_resource t1
        LEFT JOIN sys_role_resource t2 On  t1.resource_id =t2.resource_id
    </select>
</mapper>
